  /* ANIMATIONS */
  /* Efecto: Desvanecer hacia abajo */
  /* Tipo: Bloque */
  .fade-in-down {
    -webkit-animation-name: fade-in-down;
    animation-name: fade-in-down;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fade-in-down {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fade-in-down {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Efecto: Aparece gradualmente */
  /* Tipo: Bloque  */
  @-webkit-keyframes fade-in { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fade-in { from { opacity:0; } to { opacity:1; } }
  @keyframes fade-in { from { opacity:0; } to { opacity:1; } }
  
  .fade-in {
    opacity:0;
    -webkit-animation:fade-in ease-in 1;
    -moz-animation:fade-in ease-in 1;
    animation:fade-in ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }

  /* Efecto: Aparecer primero  */
  /* Tipo: Elemento */
  
  .fade-in.fade-in__first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }

   /* Efecto: Aparecer segundo  */
  /* Tipo: Elemento */
  
  .fade-in.fade-in__second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }

   /* Efecto: Aparecer tercero  */
  /* Tipo: Elemento */
  
  .fade-in.fade-in__third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }

   /* Efecto: Aparecer cuarto  */
  /* Tipo: Elemento */
  
  .fade-in.fade-in__fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Efecto: Coloca linea debajo del elemento */
  /* Tipo: Bloque */
  .underline-hover:hover{
    text-decoration: none;
  }
  .underline-hover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #F4B916;
    content: "";
    transition: width 0.2s;
  }
  
    
  .underline-hover:hover:after{
    width: 100%;
  }
  