@media(max-width:550px) {
    .form-header__title {
        font-size: 20px;
    }

    .form-content__logo{
        display: none;
    }

    .header{
        font-size: 15px;
    }

    .footer{
        font-size: 10px;
    }

    input[type=file]::before {
        padding-right: 10px;
    }

}

@media(max-width:809px){
    .response--medium{
        margin-left: 55px;
        margin-right: 55px;
    }
}

@media(max-width:768px){
    .container-radio{
        display: block;
    }
}