.navbar{
	background-color: #FFFFFF;
    border-bottom: 1px solid #e5e6e6;
}

/* Contenerdo de logo-cm */
.navbar__logo-content{
	width: 200px;
}


/* logo para direccionar a home */
#navbar__cm-home{
    height: 40px;
    cursor: pointer;
}

/* Separador de los menus principales */
.navbar__border-right{
	border-right: 1px solid #e5e6e6;
	padding-right: 10px;
}

/* color de los menus */
.navbar a{
	color: black;
}

/* color cuando ya se dio clic a un menu */
.navbar a:visited {
  color: black;
}

/* color del decorado de los sub-menus */
.navbar ul{
    color: #E32320;
}

/* modificacion de tamaño de icon predeterminado de bootstrap */
.navbar-toggler-icon{
    height: auto;
}

/* border al pasar por el mouse en icono de menu */
.navbar-toggler:hover{
    border: 1px solid #F4B916;
}

/* se quita borde predeterminado de bootstrap */
.navbar-toggler:focus{
    outline: none;
}

/* tamaño de icono de menu */
.fa-bars{
	font-size: 25px;
}

