body, html {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
}

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }

  .form-content {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
  }

  .to-return{
    text-align: center;
    padding: 10px;
    background-color: rgb(177, 8, 8);
    border-radius: 5px;
    width: 200px;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }

  .to-return:hover{
    color: white;
    font-weight: bold;
  }
  
  .form-content--long{
    max-width: 1200px;
  }

  .form-body{
    width: 92%; 
    margin: 10px auto;
  }

  .a-users:hover{
    text-decoration: none;
  }

  .a-logs:hover{
    text-decoration: none;
  }

  .users-menu{
    width: 200px;
    height: 200px;
    padding-top: 50px;
    background-color:#20a4e6;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .users-menu:hover{
    border: 3px solid;
  }

  .fa-users{
    font-size: 100px;
  }

  .logs-menu{
    width: 200px;
    height: 200px;
    padding-top: 50px;
    background-color:#088f78;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .logs-menu:hover{
    border: 3px solid;
  }

  .fa-database{
    font-size: 100px;
  }

  .user-container{
    width: 95%;
    background-color: #20a4e6;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }

  .photos{
    color: white;
    margin-right: 5px;
  }

  .photos:hover{
    color: black;
  }

  .posts{
    color: white;
    margin-left: 5px;
  }

  .posts:hover{
    color: black;
  }

  .title-post{
    width: 100%;
    font-weight: bold;
    margin-left: 5px;
  }

  .body-post{
    width: 100%;
    border: 1px solid rgb(173, 172, 172);
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 3px;
  }

  .album-container{
    width: 100%;
    background-color: #20a4e6;
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 3px;
    color: white;
  }

  .album-container a{
    color: white;
  }

  .photos-container{
    background-color: white;
    padding: 5px;
    color: black;

  }

  .photo-title{
    padding: 3px;
    color: black;
  }

  .photo-container{
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .photo{
    width: 100%;
  }



  